*{
    box-sizing: border-box;
}
.main{
    background-color:#1d2a35;
    font-family: Verdana,sans-serif;
    color:#ddd;
    width: 100%;
}
.main hr {
    border: 1px solid #38444d;
}
h1{
    margin: 0;
    font-family: UI,Arial,sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding:30px 10px 5px 10px;
}
#button{
    padding:0px 10px 10px 10px;
    height: 50px;
}
.left{
    float: left;
}
.right{
    float: right;
    margin-right: 20px;
}
#button a:link, a:visited {
    background-color:#04AA6D;
    color: white;
    padding: 15px 25px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }
  a:hover{
    background-color:#63c4a0;
  }
p{
    margin:20px 20px 20px 10px;
}
#solid{
    margin: 10px 10px 10px 20px;
    border: 1px solid black;
    padding: 10px;
}
#solid + p{
    margin:10px 10px 10px 20px;
    padding:15px;
    border-bottom:1px solid red;
}
#round{
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px 10px 10px 20px;
    padding: 5px;
}
#box{
    margin: 10px 10px 10px 20px;
    background-color:#ddffff;
    border-left: 6px solid blue;
    color: black;
    padding:5px;
}
#box ~ h1{
    margin: 20px 10px 10px 10px;
    padding: 5px;
    font-size: 30px;
}
#box ~ p{
    margin:10px 10px 10px 10px;
    padding: 5px;
}
p > code {
    background-color: rgba(222,222,222,0.1);
    color: #ff9999;
    font-size:17px;
}
ul{
    margin: 20px 10px 10px 30px;
}
li{
    padding: 0;
}
li > code{
    background-color: rgba(222,222,222,0.1);
    color: #ff9999;
    font-size:17px;
}
p{
    margin: 20px 10px 10px 10px;
}
p > code{
    background-color: rgba(222,222,222,0.1);
    color: #ff9999;
    font-size:17px;
}
.example{
    margin: 20px 10px 10px 10px;
    background-color:#38444d;
    color: #ddd;
    border-radius: 5px;
}
.example h1{
    font-size: 30px;
}
.example p{
    margin:20px 10px 0px 10px;
}
#ip{
    background-color: #1d2a35;
    margin: 20px 10px 20px 10px;
}
#ip-content{
    margin:10px 10px 5px 10px;
}
#border{
    padding: 10px 10px 5px 0px;
    color: #ff9999;
}
#borderstyle{
    color:#c5a5c5;
}
#op{
   
}
#op p{
    margin:20px 10px 0px 15px;
}
#op-content{
    margin: 10px 10px 0px 10px;
    background-color:#1d2a35;
    padding:10px 10px 5px 10px;
}
.example-button{
    padding:0px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.example-button{
    background-color:#04AA6D;
    color: white;
    padding: 15px 25px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }
  a:hover{
    background-color:#63c4a0;
  }
#note{
    background-color: #FFF4A3;
    color: black;
}
#note p{
    padding: 25px 25px 25px 25px;
}
.bottom{
    padding:20px 10px 10px 10px;
    height: 60px;
    width: 100%;
    display: flex;
}
.lef{
    width:40%;
}
.center{
    width:50%;
} 
.center a:link, a:visited {
    background-color:white;
    color: black;
    padding: 15px 25px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }
  a:hover{
    background-color:whitesmoke;
  }
.rig{
    width:10%;
}
.bottom a:link, a:visited {
    background-color:#04AA6D;
    color: white;
    padding: 15px 25px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }
  a:hover{
    background-color:#63c4a0;
  }


